<h1><% @current_student.name%> Account</h1>




<% @current_student.books.each do |book| %>
	<div class="p-places">
		<h3><%= book.title %></h3>
		<%= link_to (image_tag book.avatar.url(:medium)), book_path(book) %>
		<p class="p-description"><%= book.price %></p>
	</div>
<% end %>
