/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*background-image: url(/assets/images/image2.jpg);*/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 */
body {
    
    background-image: url(/assets/bc.jpg);
    background-color: #87CEFA;
    background-repeat: no-repeat;
    background-size: 1521.82px 862.73px;
}




.left {
	float: left;
}

.deviseforms {
	width: 500px;
	height: 470px;
	margin: 0 auto;
	text-align: center;
}

.signuplogin {
	width: 500px;
	text-align: center;
	margin: 0 auto;
	text-align: center;
}

#user_profilepic {
	border: 1px #CACACA solid;
	background-color: #ffffff;
    margin: 0 auto;
    padding-bottom: 2px;
}

.signuplogin input[type=submit] {
    border: 1px solid #336699;
    color: #ffffff;
    background: #336699;
    padding: 10px 20px;
    border-radius: 3px;
}

.signuplogin input[type=submit]:hover {
    background: #00476B;
}


/**************** posts styling **********************************/

.mainchat {
	max-width: 70%;
	margin: 1em 5em 0 20%;
	padding: 0;
	background-color: #FBFAFC;	
	box-shadow: 5px 5px 2px #D9D9D9;
}


	.chatheader {
		height: 35px;
		width: 100%;
		background-color: #99AFEE;
	}
	.chatbreak {
		margin: 1em;
		border-color: #D8D8D8;
	}

	.post {
		width: 506px;
    	margin: 1px auto;
    	height: 285px;
	/*width: 470px;
    margin: 1px auto;
    height: 250px;*/
    background-color: #99AFEE;
    padding-top: 49px;
	}

	p {
		display: inline-block;
		margin: 0;
		margin-left: 1em;
		font-size: 1.3em;
	}

/**************** Box styling **********************************/

.box {

	border-bottom: 1px solid #EBF7FF;
    text-align: center;
    /* padding: 15em 0 15em 0; */
    max-width: 50%;
    max-height: 50px;
    margin: 0 auto;
    /* background-color: #99AFEE; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1em;
    padding-top: 33px
}
	

	
 textarea {
	padding: 4em;
	width: 74%;
	font-size: 1em;
	/*margin-top: -66px;*/
}


.custom-navbar-buttons {
  @extend .btn;
  @extend .btn-default;
  @extend .navbar-btn;
  padding: 6px 12px !important;
  line-height: 1.428571429 !important;
}



body {
	background-color: #F7F7F7;
	font-family: 'Josefin Sans', sans-serif;
	color: #00476B;
}

/************* Notices ************/

.notice{
	background-color: #78D95B;
	height: 40px;
	font-size: 1.25em; 
	padding: .5em;
	color: white;
}

.alert{
	background-color: #D92F34;
	height: 40px;
	font-size: 1.25em; 
	padding: .5em;
	color: white;
}

/************* Notices ************/

/************* Nav Bar ************/

.headernav {
	font-size: 1.2em;
    height: 3.5em;
    border-bottom: solid #EAEAEA 1px;
    text-align: right;
    margin-right: 3em;
    margin-top: 19px;
}


/*.headernav ul{
	padding: 1em;
	color: #7F8286;
	overflow: hidden;
}*/

.link{
	display: inline-block;
	height: 100%;
	text-decoration: none;
}

.link{
	background-color: #ADADAD;
	border-radius: 5px;
	padding: .3em;
	text-decoration: none;
	float: right;
	margin-right: .8em;
}

.link:hover{
	background-color: #82E0DE;
}

.headernav ul a{
	color: #FDFFF1;
	padding: .5em;
}

/************* Nav Bar ************/

/************* Footer ************/

footer{
	background-color: #ADADAD;
	clear: both;
	height: 80px;
	margin-top: 15px;
}


